---
import Layout from "@layouts/Layout.astro";
import Briefcase from "@components/icons/Briefcase.astro";
import Banner from "@components/Banner.astro";
import Experience from "@components/Experience.astro";
---

<Layout title="Brandon Isahir Hernández Camacho - Full Stack Developer">
  <main class="py-20 lg:py-36">
    <Banner />
  </main>
  <section class="md:max-w-3xl">
    <h2
      class="text-xl lg:text-3xl font-semibold mb-6 flex gap-x-3 items-center text-white"
    >
      <Briefcase class="size-6" />
      Experiencia
    </h2>
    <Experience />
  </section>
</Layout>
