---
import { Image } from "astro:assets";
import robots from "../../public/images/robots.svg";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Brandon Hernández - Portfolio">
  <section class="flex flex-col justify-center">
    <div class="text-center mx-auto max-w-xs md:max-w-lg">
      <h2 class="text-3xl">Hola! 👋</h2>
      <p>
        Actualmente estoy desarrollando esta sección de mi sitio web para
        mostrarte información acerca de mis proyectos realizados como parte de
        mi trabajo como Developer.
      </p>
    </div>

    <picture class="flex justify-center">
      <Image class="w-3/6" src={robots} alt="Robots" />
    </picture>
  </section>
</Layout>
