---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Brandon Hernández - Portfolio">
  <section class="flex flex-col justify-center">
    <div class="text-center mx-auto max-w-xs md:max-w-lg">
      <h2 class="text-3xl">Hola! 👋</h2>
      <p>
        Actualmente estoy desarrollando esta sección de mi sitio web para
        mostrarte información acerca de mis proyectos realizados como parte de
        mi trabajo como Developer.
      </p>
    </div>

    <picture class="flex justify-center">
      <img class="w-3/6" src="/public/images/astronaut.svg" alt="Astronaout" />
    </picture>
  </section>
</Layout>
