<section class="flex flex-col items-center my-16">
  <div class="flex-1 max-sm:text-center">
    <h1 class="text-3xl font-extrabold sm:text-4xl">
      Brandon Isahir Hernández Camacho
    </h1>
    <p
      class="text-2xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-transparent mt-4 max-w-xl"
    >
      Full Stack Developer
    </p>
    <p class="max-w-lg text-lg mt-3">
      Programador por las noches y estudiante de ingeniería por las mañanas.
      Apasionado por aprender cada día nuevas cosas sobre el mundo Tech y la
      vida.
    </p>
  </div>

  <img
    class="w-60 h-60 rounded-full"
    src="../../public/brandonhernandez.jpg"
    alt=""
  />
</section>
