<section
  class="flex flex-col items-center my-8 sm:my-16 lg:flex-row lg:items-center"
>
  <div class="flex flex-col gap-4 text-center lg:text-left lg:flex-1">
    <h1 class="text-2xl font-extrabold sm:text-4xl">
      Brandon Isahir Hernández Camacho
    </h1>
    <p
      class="text-xl sm:text-2xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-transparent max-w-xl"
    >
      Full Stack Developer
    </p>
    <p class="text-sm sm:text-base max-w-lg">
      Programador por las noches y estudiante de ingeniería por las mañanas.
      Apasionado por aprender cada día nuevas cosas sobre el mundo Tech y la
      vida.
    </p>
  </div>

  <img
    class="w-48 h-48 sm:w-60 sm:h-60 rounded-full mt-6 lg:mt-0"
    src="../../public/brandonhernandez.jpg"
    alt=""
  />
</section>
