---
import ItemNavigationDesk from "@components/ItemNavigationDesk.astro";
import ItemNavigationMobi from "@components/ItemNavigationMobi.astro";
import CodeIcon from "@icons/CodeIcon.astro";
import HamburgerIcon from "@icons/HamburgerIcon.astro";
import CloseIcon from "@icons/CloseIcon.astro";
---

<header class="flex justify-between items-center p-4 relative mt-4">
  <a href="/" class="flex items-center gap-2 text-lg font-extrabold">
    <CodeIcon />
     BH</a
  >
  <input type="checkbox" id="menu" class="hidden peer/menu" />

  <!-- Open -->
  <label
    for="menu"
    class="block absolute right-4 cursor-pointer transition-opacity duration-500 peer-checked/menu:opacity-0 z-20 dark:fill-white sm:hidden"
  >
    <HamburgerIcon />
  </label>

  <!-- Close -->
  <label
    for="menu"
    class="absolute right-4 opacity-0 cursor-pointer transition-opacity duration-500 peer-checked/menu:opacity-100 z-20 dark:fill-white sm:hidden"
  >
    <CloseIcon />
  </label>

  <nav
    class="grid place-content-center gap-6 fixed py-24 px-6 w-full right-0 top-0 bottom-0 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 z-10 opacity-0 pointer-events-none peer-checked/menu:opacity-100 peer-checked/menu:pointer-events-auto transition-opacity duration-300 sm:hidden"
  >
    <ItemNavigationMobi redirect="/">Home</ItemNavigationMobi>
    <ItemNavigationMobi redirect="/projects">Proyectos</ItemNavigationMobi>
    <ItemNavigationMobi redirect="/blog/">Blog</ItemNavigationMobi>
  </nav>

  <nav class="flex items-center gap-6 max-sm:hidden">
    <ItemNavigationDesk redirect="/">Home</ItemNavigationDesk>
    <ItemNavigationDesk redirect="/projects">Proyectos</ItemNavigationDesk>
    <ItemNavigationDesk redirect="/blog/primer-articulo">
      Blog
    </ItemNavigationDesk>
  </nav>
</header>
