---
interface Props {
  redirect: string;
}

const { redirect } = Astro.props;
---

<a
  href={redirect}
  class="font-medium text-white hover:text-white/80 border-b-2 border-transparent hover:border-blue-500 cursor-pointer transition-colors duration-300 transform"
>
  <slot />
</a>
