---
interface Props {
  redirect: string;
}

const { redirect } = Astro.props;
---

<a
  href={redirect}
  class="text-xl text-white font-semibold cursor-pointer border-b-2 border-transparent hover:text-gray-800 transition-colors duration-300 transform hover:border-blue-500 lg:text-lg"
>
  <slot />
</a>
