---
interface Props {
  platform: string;
  username: string;
}

const { platform, username } = Astro.props;
---

<a
  class="flex justify-center items-center gap-2 rounded-md px-4 py-2 text-sm font-medium border border-white/10 bg-white/5 text-white fill-white transition
    hover:scale-110 hover:bg-white/10"
  href={`https://www.${platform}.com/${username}`}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>
