---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/jpg+svg"
      href="../../public/brandonhernandez.jpg"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class="flex flex-col px-4 mx-auto min-h-screen sm:max-w-xl lg:max-w-4xl lg:px-0 xl:max-w-5xl"
  >
    <Header />
    <main class="grow">
      <slot />
    </main>
    <Footer />
    <style is:global>
      html {
        font-family: "Lexend", system-ui, sans-serif;
        /* background: #f5ecd7; */
        /*background-size: 224px;
      color-scheme: dark light; */
      }
    </style>
  </body>
</html>
